# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# environment variables
.env

# generated downloads
downloads/

# IDE
.vscode/

# build files
dist/
build/

# temp
tmp/
temp/